img{
    width: 70px;
    height: 70px;
}

body{
    align-content: center;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0px;
}

.line{
    display: block;
    padding: 0px;
    margin: -9px;
    box-sizing: border-box;
    position: relative;
}

.square{
    display: inline;
}

.divPiece{
    display: inline;
    width: 70px;
    align-items: flex-end;
    
    
}

.piece{
    width: 56px;
    margin-left: -63px;
    position: absolute;
}
